.article_content {
    background: #F8F9FB;
    padding: 70px 0;
    .article_left {
        width: 15.6%;
        height: 283px;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 15px 40px 10px rgba(58, 99, 167, 0.07);
        .al_item:not(:last-child) {
            border-bottom: 1px solid #F3F3F3;
        }
        .al_item {
            min-height: 70px;
            cursor: pointer;
            .icon {
                margin-left: 40px;
            }
            div {
                margin-left: 10px;
            }
            div.active {
                color: #3EA6D2;
            }
            .icon_right {
                margin-left: auto;
                margin-right: 40px;
            }
        }
    }
    .article_right {
        width: 57%;
        margin-left: 60px;
        .class_box {
            width: 92%;
            padding: 30px 40px 12px 40px;
            background: rgba(223, 223, 223, .5);
            border-radius: 10px;
            .class_item {
                padding: 10px 30px;
                background: rgba(223, 223, 223, .6);
                color: #A2A2A2;
                border-radius: 4px;
                margin-bottom: 18px;
                cursor: pointer;
            }
            .class_item.active {
                background: #0F68CE;
                color: #fff;
            }
        }
        .ar_list {
            width: 100%;
            .ar_item:hover {
                background: #FFF !important;
                box-shadow: 0px 15px 40px 10px rgba(58, 99, 167, 0.07);
            }
            .ar_item {
                width: 240px;
                height: 224px;
                margin-top: 60px;
                background: #F8F9FB;
                border-radius: 0px 0px 4px 4px;
                img {
                    width: 100%;
                    height: 150px;
                }
                .art_bot {
                    padding: 0 16px;
                    overflow: hidden;
                    font-size: 14px;
                    p {
                        margin-top: 12px;
                    }
                }
            }
        }
        .loadtitle {
            width: 100%;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }
        .loadlist {
            width: 100%;
            margin-top: 30px;
            border-radius: 10px;
            .loaditem:nth-child(odd) {
                background: rgba(223, 223, 223, .25);
            }
            .loaditem {
                height: 55px;
                line-height: 55px;
                .loaditem_left {
                    width: 759px;
                    padding: 0 50px;
                    border-right: 1px dashed #E2E2E2;
                }
                .loaditem_right {
                    width: 220px;
                    text-align: center;
                    color: #3EA6D2;
                    cursor: pointer;
                }
            }
        }
    }
}

.notdata {
    padding: 50px;
}